services:
  jaeger:
    image: jaegertracing/all-in-one:1.57
    environment:
      - COLLECTOR_OTLP_ENABLED=true
  apisix:
    image: apache/apisix:3.9.0-debian
    volumes:
      - ./config/apisix/config.yml:/usr/local/apisix/conf/config.yaml:ro
      - ./config/apisix/apisix.yml:/usr/local/apisix/conf/apisix.yaml:ro
    ports:
      - "9080:9080"
    depends_on:
      - catalog
  catalog:
    image: otel-catalog:1.2
    environment:
      SPRING_R2DBC_URL: r2dbc:postgresql://postgres:5432/postgres?schema=catalog
      SPRING_R2DBC_USERNAME: postgres
      SPRING_R2DBC_PASSWORD: root
      APP_PRICING_ENDPOINT: http://apisix:9080/prices
      APP_STOCK_ENDPOINT: http://inventory:3000/stocks
      APP_MQTT_SERVER_URI: tcp://apisix:9100
      APP_MQTT_CLIENT_ID: catalog
      APP_MQTT_TOPIC: analytics
      APP_MQTT_MESSAGE_QOS: 1
      APP_MQTT_MESSAGE_RETAINED: true
      APP_MQTT_CONNECT_AUTOMATIC: true
      APP_MQTT_CONNECT_TIMEOUT: 5
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4318
      OTEL_RESOURCE_ATTRIBUTES: service.name=catalog
      OTEL_METRICS_EXPORTER: none
      OTEL_LOGS_EXPORTER: none
    depends_on:
      - postgres
      - mosquitto
      - pricing
      - inventory
  pricing:
    image: otel-pricing:1.1
    environment:
      FLASK_SQLALCHEMY_DATABASE_URI: postgresql://postgres:root@postgres:5432/postgres?options=-c%20search_path=pricing
      FLASK_SQLALCHEMY_TRACK_MODIFICATIONS: False
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4317
      OTEL_RESOURCE_ATTRIBUTES: service.name=pricing
      OTEL_METRICS_EXPORTER: none
      OTEL_LOGS_EXPORTER: none
    depends_on:
      - postgres
    restart: on-failure:2
  inventory:
    image: otel-inventory:1.0
    environment:
      PG_HOST: postgres
      PG_PORT: 5432
      PG_USER: postgres
      PG_PASSWORD: root
      PG_DBNAME: postgres
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4317
      OTEL_RESOURCE_ATTRIBUTES: service.name=inventory
      OTEL_METRICS_EXPORTER: none
      OTEL_LOGS_EXPORTER: none
  analytics:
    image: otel-analytics:1.0
    environment:
      - COLLECTOR_URI=http://jaeger:4318
      - MQTT_CLIENT_ID=analytics
      - MQTT_CONNECT_TIMEOUT=10
      - MQTT_SERVER_URI=tcp://apisix:9100
      - MQTT_TOPIC=analytics
      - OTEL_LOG_LEVEL=DEBUG
    depends_on:
      - mosquitto
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_PASSWORD: root
    volumes:
      - ./config/postgres:/docker-entrypoint-initdb.d:ro
  mosquitto:
    image: eclipse-mosquitto:2.0
    volumes:
      - ./config/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
